<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao DownCrazy</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Download de Músicas e Consultas</h1>
        </div>
    </header>

    <main>
        <section id="outros">
            <h2 class="centralizado">Nossos Serviços:</h2>
            <div class="service-buttons">
                <div class="card-group">
                    <div class="card">
                        <p>Verifique a validade de um número BIN.</p>
                        <button onclick="location.href='{{ url_for('bin_page') }}'"><b>Consultar BIN</b></button>
                    </div>
                    <div class="card">
                        <p>Consulte informações associadas a um CPF.</p>
                        <button onclick="location.href='{{ url_for('consultar_cpf') }}'"><b>Consultar CPF</b></button>
                    </div>
                    <div class="card">
                        <p>Descubra informações sobre um número de Telefone.</p>
                        <button onclick="location.href='{{ url_for('consultar_tel') }}'"><b>Consultar Telefone</b></button>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card">
                        <p>Busque dados a partir de um Nome.</p>
                        <button onclick="location.href='{{ url_for('consultar_nome') }}'"><b>Consultar Nome</b></button>
                    </div>
                    <div class="card">
                        <p>Obtenha informações sobre um endereço IP.</p>
                        <button onclick="location.href='{{ url_for('ip_page') }}'"><b>Consultar IP</b></button>
                    </div>
                </div>
            </div>

            <p class="download-text">
                <span class="background-text"><b>Baixe do YouTube e outros...</b></span>
            </p>

            <!-- Imagem centralizada -->
            <img src="/static/logo/img.avif" alt="Baixar Músicas" class="centralized-image"> <!-- Certifique-se de ajustar o caminho da imagem -->

            <div class="service-buttons">
                <div class="card-group">
                    <div class="card">
                        <p>Faça download de músicas diretamente.</p>
                        <button onclick="location.href='{{ url_for('/youtube2/download_audio') }}'"><b>Baixar Músicas</b></button>
                    </div>
                    <div class="card">
                        <p>Baixe vídeos do YouTube facilmente.</p>
                        <button onclick="location.href='{{ url_for('/youtube2/download_video') }}'"><b>Baixar Vídeos</b></button>
                    </div>
                    <div class="card">
                        <p>Baixe listas do YouTube.</p>
                        <button onclick="consultar('Baixar Vídeos')"><b>Baixar Listas</b></button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright © 2025 Ilimithi. Todos os direitos reservados.</p>
    </footer>

    <script>
        function consultar(tipo) {
            alert('Você selecionou: ' + tipo);
        }
    </script>
</body>
</html>
